#streetcar-image {
  height: 15rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  font-style: italic;
  margin: 1rem;
  text-align: center;
}

.information {
  text-align: center;
  margin: 1rem;
}

.loading {
  color: red;
  font-family: monospace;
}

.info {
  text-align: center;
  margin: 1rem;
  /* font-family: monospace; */
}